<div class="ui raised segment">
    <h2 class="ui header">Demo Form: sku with builder</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form">
        <div class="field">
            <label for="skuInput">SKU</label>
            <input type="text" id="skuInput" placeholder="SKU" formControlName="sku"><br>
            <input type="text" id="skuInput" placeholder="SKU" formControlName="ff">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>